@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --corFundo: #ACECA1;
    --corLetra: #a4d4d4;
    --corDestaque1: #c97d60;
    --corDestaque2: #FFBCB5;
}

body {
    background-color: var(--corFundo);
}

main {
    width: 380px;
    height: 300px;
    background-color: var(--corDestaque1);
    margin: 80px auto 80px auto;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
}

h1 {
    text-align: center;
    color: var(--corLetra);

}

main > p {
    font-size: 1.5em;
    text-align: center;
    color: var(--corLetra);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
}

#password {
    margin: 20px auto 20px ;
    display: block;
    width: 280px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.display {
    position: relative;
    
}

#btn {
    position: absolute;
    margin-top: -54px;
    background-color: transparent;
    margin-left: 280px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
}

#tamanho {
    padding: 5px;
    border-radius: 15px;
    border: none;
}

.opcoes {
    text-align: right;
    font-size: 1.8em;
    text-align: center;
}

#btn2 {
    padding: 5px;
    border-radius: 8px;
    border: none;
}

#btn2:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

